<h2 class="text-center py-2 mt-3">Send Pin</h2>
<div class="w-75 mx-auto">
  <div *ngIf="errorMessage" class="text-center alert alert-danger">
    {{ errorMessage }}
  </div>
  <form [formGroup]="sendPinCodeForm" (ngSubmit)="onSubmit()" class="mt-3">
    <label for="email">Email :</label>
    <input
      id="email"
      formControlName="email"
      class="form-control mb-2"
      placeholder="Enter your email"
      [ngClass]="{ 'is-invalid': f['email'].invalid && f['email'].touched }"
    />
    <div
      class="invalid-feedback"
      *ngIf="f['email'].invalid && f['email'].touched"
    >
      <div *ngIf="f['email'].errors?.['required']">Email is required.</div>
      <div *ngIf="f['email'].errors?.['email']">
        Please enter a valid email address.
      </div>
    </div>

    <button
      type="button"
      class="btn btn-primary w-100 d-flex justify-content-center align-items-center mt-3 mb-2 m-auto"
      (click)="onSubmit()"
    >
      <span *ngIf="isLoading"> <i class="fas fa-spinner fa-spin"></i> </span>
      <span *ngIf="!isLoading">Send Pin Code</span>
    </button>
  </form>
</div>
