<footer
  class="text-white text-center text-lg-start"
  style="background-color: #23242a"
>
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row mt-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">About Me</h5>
        <p>
          I am an experienced ASP .NET Core and Angular developer with a strong
          background in software engineering. Passionate about building
          scalable, high-performance web applications and always eager to learn
          and grow in my field.
        </p>
        <p></p>
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="https://www.facebook.com/share/18juAM3kjn"
            target="_blank"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            target="_blank"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Google -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="mailto:qassemshaban7@gmail.com"
            role="button"
          >
            <i class="fab fa-google"></i>
          </a>

          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" role="button"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- Linkedin -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="https://www.linkedin.com/in/qassemshaban"
            target="_blank"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>

          <!-- Github -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="https://github.com/qassemshaban7"
            target="_blank"
            role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1">Personal Data</h5>

        <div class="form-outline form-white mb-4">
          <div class="form-notch">
            <div class="form-notch-leading" style="width: 9px"></div>
            <div class="form-notch-middle" style="width: 48.8px"></div>
            <div class="form-notch-trailing"></div>
          </div>
        </div>

        <ul class="fa-ul" style="margin-left: 1.65em">
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-home"></i></span>
            <span class="ms-2">Beni-Suef, Egypt</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-envelope"></i></span>
            <span class="ms-2">{{ email }}</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-phone"></i></span>
            <span class="ms-2">+20-115-079-9451</span>
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-graduation-cap"></i></span>
            <span class="ms-2"
              >Sept. 2020 – May. 2024<br />
              Computer Science Department Bachelor of Computers and Artificial
              Intelligence
            </span>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Skills</h5>

        <table class="table text-center text-white">
          <tbody class="font-weight-normal">
            <tr>
              <td><strong>Web Development</strong></td>
              <td>
                ASP .NET Core, Angular, HTML5, CSS3, JavaScript, Bootstrap
              </td>
            </tr>
            <tr>
              <td><strong>Backend Development</strong></td>
              <td>C#, Entity Framework, Web API, LINQ, JWT</td>
            </tr>
            <tr>
              <td><strong>Database</strong></td>
              <td>SQL Server, Oracle</td>
            </tr>
            <tr>
              <td><strong>Tools & Technologies</strong></td>
              <td>
                Git, Web Hosting, C++, OOP, SOLID Principles, Dependency
                Injection
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <img
      src="assets/images/logo.png"
      alt="logo"
      style="width: 35px; border-radius: 50%; background-color: aliceblue"
      class="mr-4"
    />
    © 2020 Copyright:
    <a class="text-white" style="text-decoration: none">Learning Platform</a>
  </div>
  <!-- Copyright -->
</footer>
